<html>
<style>
.column {
  float: left;
}
h1 {
    font-size:100%;
}
</style>
<body>

<div class="column" style="width:20%">
    <h1>OpenCrowdCapture</h1>
    <ul>
        <li><a href="/map">The Map with street level captures</a></li>
        <li><a href="/mapillary_takeout">Takeout your images from Mapillary to OpenCrowdCapture project</a></li>
    </ul>

    <p>
    OpenCrowdCapture is a community project to collect street level photo captures.
    </p>

    <p>Servers part of the federation:</p>
    <ul>
        <li><a href="https://mapillary-takeout-web.openstreetmap.fr">mapillary-takeout-web.openstreetmap.fr</a></li>
        <li><a href="https://takeitout.cquest.org/">takeitout.cquest.org</a></li>
    </ul>

    <p>
    Code source code of this application on <a href="https://github.com/frodrigo/mapillary_takeout_web">github</a>.
    </p>
</div>

<div class="column" style="width:80%">
    <iframe src="https://mapillary-takeout-web.openstreetmap.fr/map/" style="border: 0; width: 100%; height: 100%"></iframe>
</div>

</html>
