<html>
<body>

Before sumiting you password here, change it on Mapillary.
We store your PASSWORD in PLAIN TEXT.

<form action="mapillary_takeout" method="post">
  <label for="email">email</label>
  <input type="text" id="email" name="email">
  <br/>

  <label for="password">password</label>
  <input type="password" id="password" name="password">
  <br/>

  <label for="username">username</label>
  <input type="text" id="username" name="username">
  <br/>

  <input type="submit">
</form>
</body>
</html>
