{% extends "template.html" %}
{% block title %}Mapillary Takeout{% endblock %}
{% block content %}
<ul>
    <li>Before sumiting you password here, change it on Mapillary.</li>
    <li>We store your PASSWORD in PLAIN TEXT during the download.</li>
    <li>A copy of pictures may be conserved by the server under CC-BY-SA</li>
    <li>For use for SMALL Mapillary account for now, restricted by server disk space.</li>
</ul>

<form action="mapillary_takeout" method="post">
  <label for="email">email</label>
  <input type="text" id="email" name="email">
  <br/>

  <label for="password">password</label>
  <input type="password" id="password" name="password">
  <br/>

  <label for="username">username</label>
  <input type="text" id="username" name="username">
  <br/>

  <input type="submit">
</form>
{% endblock %}
